@charset "UTF-8";
@import '/css/reset.css';
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #f2f1ef;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 1160px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }
}
@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }
}

.hide {
  display: none;
}

.no-scroll {
  overflow-y: hidden;
}

.section__title {
  font-weight: 600;
  font-size: 34px;
  line-height: 1.2;
  color: #2F2F2F;
}
@media (max-width: 767.98px) {
  .section__title {
    font-size: 26px;
    line-height: 1.3;
  }
}

.text__center {
  text-align: center;
}

.section__text {
  margin-top: 27px;
  line-height: 1.7;
  color: #6A6A6A;
}
@media (max-width: 767.98px) {
  .section__text {
    margin-top: 16px;
  }
}

.btn {
  display: inline-block;
  padding: 11px 35px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  border-radius: 30px;
  transition: all 0.3s ease;
}
.btn.btn__hero {
  background-color: #F9BF29;
  color: #2F2F2F;
}
.btn.btn__hero:hover {
  background-color: #ffb804;
  color: #EFF2F1;
}
.btn.btn__outline {
  border: 2px solid rgba(255, 255, 255, 0.29);
  background-color: transparent;
  color: #fff;
  padding: 9px 35px;
}
.btn.btn__outline:hover {
  background-color: #EFF2F1;
  color: #2F2F2F;
  border-color: #EFF2F1;
}
.btn.btn__section {
  color: #fff;
  background: #2F2F2F;
  margin-top: 36px;
}
.btn.btn__section:hover {
  background-color: #ffb804;
  color: #EFF2F1;
}
@media (max-width: 479.98px) {
  .btn.btn__section {
    margin-top: 24px;
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.header {
  background-color: #3b5d50;
  border-bottom: 1px solid rgba(255, 255, 255, 0.29);
}

.navbar {
  padding: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .navbar {
    padding: 18px 0;
  }
}

.menu {
  display: flex;
  align-items: center;
  gap: 45px;
}

.logo {
  z-index: 6;
}

.menu__item-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.5);
}
.menu__item-link::after {
  content: "";
  width: 100%;
  height: 5px;
  background-color: #F9BF29;
  transition: 0.3s ease;
  transform: scale(0);
  position: absolute;
  left: 0;
  bottom: -7px;
}
.menu__item-link:hover {
  color: #fff;
  transition: 0.3s ease;
}
.menu__item-link:hover::after {
  transform: scale(1);
}

.burger {
  display: none;
  width: 30px;
  height: 25px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 10;
  /* Меняем гамбургер иконку, когда меню открыто */
}
.burger span {
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #ffffff;
  transition: all 0.5s;
}
.burger span:nth-of-type(2) {
  width: 100%;
  top: calc(50% - 10px);
}
.burger span:nth-of-type(3) {
  width: 100%;
  top: calc(50% + 10px);
}
.burger.active span:nth-of-type(1) {
  display: none;
}
.burger.active span:nth-of-type(2) {
  width: 30px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  background-color: #ffffff;
}
.burger.active span:nth-of-type(3) {
  width: 30px;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  background-color: #ffffff;
}

@media (max-width: 767.98px) {
  .burger {
    display: block;
  }
  .menu {
    position: fixed;
    height: 100vh;
    width: 100vw;
    right: -100%;
    top: 0;
    z-index: 5;
    background-color: #3b5d50;
    transition: right 0.3s ease;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
  .menu.active {
    right: 0;
  }
  .menu__item-link {
    font-size: 20px;
    padding: 10px;
    color: #fff;
  }
  .menu__item-link:hover {
    background-color: rgba(255, 255, 255, 0.212);
  }
}
.hero {
  padding: 90px 0 20px;
  background-color: #3b5d50;
  position: relative;
}
@media (max-width: 991.98px) {
  .hero {
    padding: 75px 0 20px;
  }
}
@media (max-width: 767.98px) {
  .hero {
    padding: 50px 0 20px;
  }
}
.hero__row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991.98px) {
  .hero__row {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.hero__item {
  z-index: 2;
}
.hero__item.left__item {
  flex: 0 1 420px;
}
@media (max-width: 991.98px) {
  .hero__item.left__item {
    flex: 0 1 100%;
  }
}
.hero .hero__svg {
  position: absolute;
  right: 90px;
  top: 110px;
  z-index: 1;
}
@media (max-width: 991.98px) {
  .hero .hero__svg {
    right: 70px;
    top: 270px;
  }
}
@media (max-width: 767.98px) {
  .hero .hero__svg {
    right: 40px;
    top: 220px;
  }
}
@media (max-width: 479.98px) {
  .hero .hero__svg {
    right: 30px;
    top: 320px;
    max-width: 150px;
  }
}

.hero__title {
  font-weight: 600;
  font-size: 54px;
  line-height: 1.2;
  color: #FFFFFF;
  margin-bottom: 117px;
}
@media (max-width: 1199.98px) {
  .hero__title {
    font-size: 46px;
    line-height: 1.3;
  }
}
@media (max-width: 991.98px) {
  .hero__title {
    font-size: 42px;
    text-align: center;
    margin-bottom: 70px;
  }
}
@media (max-width: 767.98px) {
  .hero__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.hero__buttons {
  display: flex;
  align-items: center;
  gap: 14px;
}
@media (max-width: 991.98px) {
  .hero__buttons {
    justify-content: center;
  }
}
@media (max-width: 479.98px) {
  .hero__buttons {
    flex-wrap: wrap;
  }
  .hero__buttons .hero__btn {
    display: flex;
    width: 80%;
    justify-content: center;
  }
}

.materials {
  padding: 125px 0;
}
@media (max-width: 991.98px) {
  .materials {
    padding: 75px 0;
  }
}
@media (max-width: 767.98px) {
  .materials {
    padding: 50px 0;
  }
}

.materials__row {
  display: flex;
  gap: 114px;
}
@media (max-width: 991.98px) {
  .materials__row {
    flex-wrap: wrap;
    gap: 40px;
  }
}

.materials__item.left__item {
  flex: 0 1 230px;
}
@media (max-width: 991.98px) {
  .materials__item.left__item {
    flex: 0 1 100%;
  }
}
@media (max-width: 991.98px) {
  .materials__item.right__item {
    flex: 0 1 100%;
  }
}

.products {
  display: flex;
  gap: 79px;
}
@media (max-width: 1199.98px) {
  .products {
    gap: 60px;
  }
}
@media (max-width: 991.98px) {
  .products {
    justify-content: space-between;
  }
}
@media (max-width: 767.98px) {
  .products {
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (max-width: 991.98px) {
  .products__item {
    flex: 0 1 30%;
  }
}
@media (max-width: 767.98px) {
  .products__item {
    flex: 0 1 100%;
    text-align: center;
    border: 1px solid #2F2F2F;
    border-radius: 30px;
    padding: 30px;
  }
}

.products__img {
  min-height: 260px;
}
@media (max-width: 767.98px) {
  .products__img {
    min-height: 150px;
  }
}

.products__info {
  margin-top: 46px;
  color: #2F2F2F;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .products__info {
    margin-top: 20px;
  }
}

.products__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.products__price {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
}

.choose {
  padding: 25px 0 70px;
  overflow: hidden;
}
.choose__row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991.98px) {
  .choose__row {
    flex-wrap: wrap;
  }
}
.choose .choose__item.left__item {
  flex: 0 1 470px;
  padding-top: 60px;
}
@media (max-width: 1199.98px) {
  .choose .choose__item.left__item {
    flex: 0 1 510px;
  }
}
@media (max-width: 991.98px) {
  .choose .choose__item.left__item {
    flex: 0 1 100%;
    padding-top: 0px;
  }
}
.choose .choose__item.right__item {
  padding-top: 50px;
  position: relative;
}
@media (max-width: 991.98px) {
  .choose .choose__item.right__item {
    padding-top: 30px;
  }
}
.choose .choose__item.right__item::after {
  content: "";
  display: block;
  width: 296px;
  height: 307px;
  background: rgba(53, 115, 110, 0.1);
  border-radius: 20px;
  position: absolute;
  top: 176px;
  left: -310px;
}
@media (max-width: 991.98px) {
  .choose .choose__item.right__item::after {
    left: unset;
    top: unset;
    right: -2%;
    bottom: 10%;
    z-index: 1;
    background: rgba(53, 115, 110, 0.3);
  }
}
@media (max-width: 767.98px) {
  .choose .choose__item.right__item::after {
    width: 180px;
    height: 200px;
  }
}
.choose .choose__icon {
  position: absolute;
  left: -80px;
  top: -10px;
  z-index: -1;
}

.why {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
@media (max-width: 991.98px) {
  .why {
    margin-top: 35px;
  }
}
.why .why__item {
  flex: 0 1 215px;
}
@media (max-width: 991.98px) {
  .why .why__item {
    flex: 0 1 46%;
  }
}
@media (max-width: 767.98px) {
  .why .why__item {
    flex: 0 1 100%;
  }
}
.why .why__title {
  margin-top: 3px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.57;
  color: #2F2F2F;
}
.why .why__text {
  margin-top: 9px;
  line-height: 1.57;
  color: #6A6A6A;
}

.help {
  padding: 70px 0;
  position: relative;
}
@media (max-width: 991.98px) {
  .help {
    padding: 50px 0;
  }
}
@media (max-width: 767.98px) {
  .help {
    padding: 30px 0;
  }
}

.help__svg {
  position: absolute;
  left: 7%;
  top: 0;
}
@media (max-width: 991.98px) {
  .help__svg {
    top: unset;
    bottom: 0;
  }
}

.help__row {
  display: flex;
  justify-content: space-between;
  gap: 55px;
}
@media (max-width: 991.98px) {
  .help__row {
    flex-wrap: wrap-reverse;
  }
}
@media (max-width: 767.98px) {
  .help__row {
    gap: 30px;
  }
}

.help__item.help__left {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  flex: 0 1 630px;
}
@media (max-width: 991.98px) {
  .help__item.help__left {
    flex: 0 1 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
.help__item.help__right {
  padding-top: 33px;
  flex: 0 1 470px;
}
@media (max-width: 991.98px) {
  .help__item.help__right {
    flex: 0 1 100%;
  }
}

.help__list {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
@media (max-width: 767.98px) {
  .help__list {
    margin-top: 10px;
    gap: 15px;
  }
}
.help__list li {
  flex: 0 1 215px;
  padding-left: 21px;
  line-height: 1.36;
  color: #6A6A6A;
  position: relative;
}
.help__list li::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: transparent;
  border: 2px solid #3B5D50;
  position: absolute;
  left: 0;
  top: 7px;
}
@media (max-width: 767.98px) {
  .help__list li {
    flex: 0 1 100%;
  }
}

.help__img-1 {
  border-radius: 10px 0 0 10px;
}
@media (max-width: 767.98px) {
  .help__img-1 {
    max-width: 100%;
    width: 90%;
    height: auto;
  }
}

.help__img-3 {
  border-radius: 10px;
  z-index: 1;
}
@media (max-width: 767.98px) {
  .help__img-3 {
    display: none;
  }
}

.help__img-2 {
  position: absolute;
  right: 0;
  top: 43%;
  border-radius: 10px;
  z-index: 3;
}
@media (max-width: 767.98px) {
  .help__img-2 {
    max-width: 40%;
    top: 5%;
    width: 100%;
    height: auto;
  }
}

.examples {
  padding: 50px 0;
}

.examples__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991.98px) {
  .examples__row {
    flex-wrap: wrap;
  }
}

.examples__item {
  flex: 0 1 342px;
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 991.98px) {
  .examples__item {
    flex: 0 1 100%;
  }
}

.examples__info {
  flex: 0 1 211px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 1.57;
}

.examples__name {
  font-weight: 700;
  font-size: 14px;
  color: #000000;
}

.examples__text {
  color: #6A6A6A;
}

.examples__link {
  font-weight: 700;
  font-size: 12px;
  color: #6A6A6A;
  transition: color 0.3s ease;
}
.examples__link:hover {
  color: #313030;
}

.testimonials {
  padding: 50px 0 20px;
}
@media (max-width: 767.98px) {
  .testimonials {
    padding: 40px 0 20px;
  }
}
@media (max-width: 479.98px) {
  .testimonials {
    padding: 25px 0 10px;
  }
}

.testimonials__slider {
  position: relative;
  max-width: 760px;
  width: 100%;
  margin: 45px auto 0;
}
@media (max-width: 767.98px) {
  .testimonials__slider {
    margin-top: 25px;
  }
}
@media (max-width: 479.98px) {
  .testimonials__slider {
    margin-top: 15px;
  }
}

.slider__item {
  text-align: center;
  padding-bottom: 30px;
}

.slider__item-text {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.78;
  color: #000000;
}
@media (max-width: 991.98px) {
  .slider__item-text {
    max-width: 80%;
  }
}
@media (max-width: 767.98px) {
  .slider__item-text {
    max-width: 85%;
  }
}
@media (max-width: 479.98px) {
  .slider__item-text {
    max-width: 100%;
    font-size: 16px;
  }
}

.slider__item-info {
  margin: 40px 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.slider__item-avatar {
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 13px;
}

.slider__item-name {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 1.2;
  color: #000000;
}

.slider__item-desc {
  font-weight: 400;
  font-size: 13px;
  color: #2F2F2F;
}

.slider__btn {
  display: block;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}
@media (max-width: 479.98px) {
  .slider__btn {
    width: 40px;
    height: 40px;
  }
}
.slider__btn:hover {
  opacity: 0.8;
}
.slider__btn:active {
  opacity: 1;
}

.slider__btn--prev {
  padding-left: 24px;
  justify-content: flex-start;
  position: absolute;
  left: -154px;
  top: 25px;
  z-index: 3;
  background-color: rgba(196, 196, 196, 0.1);
  border: 0.1px solid rgba(56, 93, 80, 0.2078431373);
}
@media (max-width: 1100px) {
  .slider__btn--prev {
    left: -100px;
  }
}
@media (max-width: 991.98px) {
  .slider__btn--prev {
    left: -10px;
  }
}
@media (max-width: 767.98px) {
  .slider__btn--prev {
    top: 60%;
    left: 70px;
  }
}
@media (max-width: 479.98px) {
  .slider__btn--prev {
    top: 70%;
    left: 10px;
    padding-left: 14px;
  }
}

.slider__btn--next {
  padding-right: 25px;
  justify-content: flex-end;
  position: absolute;
  right: -154px;
  top: 25px;
  z-index: 3;
  background-color: #385D50;
}
@media (max-width: 1100px) {
  .slider__btn--next {
    right: -100px;
  }
}
@media (max-width: 991.98px) {
  .slider__btn--next {
    right: -10px;
  }
}
@media (max-width: 767.98px) {
  .slider__btn--next {
    top: 60%;
    right: 70px;
  }
}
@media (max-width: 479.98px) {
  .slider__btn--next {
    top: 70%;
    right: 10px;
    padding-right: 14px;
  }
}

.testimonials__slider .owl-theme .owl-dots .owl-dot.active span,
.testimonials__slider .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #385D50;
}

.blog {
  padding: 20px 0 160px;
}

.blog__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.blog__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: #2F2F2F;
  border-bottom: 3px solid #000000;
  transition: 0.3s ease;
}
.blog__link:hover {
  color: #385D50;
  border-bottom: 3px solid #385D50;
}
@media (max-width: 767.98px) {
  .blog__link {
    border-bottom: 2px solid #000000;
  }
}

.blog__row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .blog__row {
    flex-wrap: wrap;
  }
}

.blog__item {
  flex: 0 1 360px;
}
@media (max-width: 767.98px) {
  .blog__item {
    flex: 0 1 100%;
  }
}

.blog__img img {
  border-radius: 10px;
}
@media (max-width: 767.98px) {
  .blog__img img {
    max-width: 100%;
    width: 100%;
  }
}

.blog__title {
  margin-top: 44px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: #2F2F2F;
}
@media (max-width: 991.98px) {
  .blog__title {
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.blog__info {
  margin-top: 5px;
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #2F2F2F;
}

.subscribe {
  background-color: #fff;
  padding: 100px 0 130px;
}
@media (max-width: 767.98px) {
  .subscribe {
    padding: 150px 0 75px;
  }
}

.subscribe__wrap {
  position: relative;
}

.subscribe__img {
  position: absolute;
  right: 0;
  top: -180px;
}
@media (max-width: 1199.98px) {
  .subscribe__img {
    max-width: 300px;
  }
}
@media (max-width: 767.98px) {
  .subscribe__img {
    top: -250px;
  }
}

.subscribe__title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}
.subscribe__title span {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: #2F2F2F;
}

.form {
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
@media (max-width: 767.98px) {
  .form {
    max-width: 100%;
    flex-direction: column;
  }
}

.form__input {
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  padding: 14px 22px;
  display: flex;
  width: 262px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #2F2F2F;
  outline: none;
}
.form__input:focus {
  border: 1px solid #000000;
}
@media (max-width: 767.98px) {
  .form__input {
    max-width: 100%;
    width: 100%;
  }
}

.form__btn {
  background: #35736E;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  transition: 0.3s ease;
}
.form__btn:hover {
  background: #054c47;
}
.form__btn span {
  display: none;
}
@media (max-width: 767.98px) {
  .form__btn {
    max-width: 100%;
    width: 100%;
    padding: 14px 20px;
    font-size: 16px;
  }
  .form__btn span {
    display: block;
    color: #fff;
    text-transform: uppercase;
  }
  .form__btn svg {
    display: none;
  }
}

.footer {
  background-color: #fff;
  padding: 20px 0 32px;
}

.footer__logo {
  display: flex;
  margin-bottom: 17px;
}

.footer__row {
  display: flex;
  gap: 65px;
}
@media (max-width: 991.98px) {
  .footer__row {
    gap: 30px;
  }
}
@media (max-width: 767.98px) {
  .footer__row {
    flex-wrap: wrap;
  }
}

.footer__item.left__item {
  flex: 0 1 360px;
}
@media (max-width: 767.98px) {
  .footer__item.left__item {
    flex: 0 1 100%;
  }
}
.footer__item.right__item {
  display: flex;
  gap: 50px;
}
@media (max-width: 991.98px) {
  .footer__item.right__item {
    gap: 30px;
  }
}
@media (max-width: 767.98px) {
  .footer__item.right__item {
    flex: 0 1 100%;
  }
}
@media (max-width: 479.98px) {
  .footer__item.right__item {
    flex-wrap: wrap;
    gap: 20px;
  }
}

.footer__text {
  line-height: 1.7;
  color: #6A6A6A;
}

.socials {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-top: 60px;
}
@media (max-width: 767.98px) {
  .socials {
    margin-top: 20px;
  }
}
.socials__item a {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #D9D9D9;
  cursor: pointer;
}
.socials__item svg {
  transition: all 0.3s ease;
}
.socials__item:hover svg {
  scale: 1.2;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
@media (max-width: 767.98px) {
  .footer__links {
    flex: 0 1 20%;
  }
}
@media (max-width: 479.98px) {
  .footer__links {
    flex: 0 1 45%;
  }
}

.footer__link {
  line-height: 1.1;
  transition: color 0.3s ease;
}
.footer__link:hover {
  color: #35736E;
}

.copy {
  padding-top: 36px;
  margin-top: 32px;
  border-top: 1px solid #EFF2F1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .copy {
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 20px;
  }
}

.copy__item {
  display: flex;
  align-items: center;
  gap: 42px;
}

.copy__link {
  transition: color 0.3s ease;
}
.copy__link:hover {
  color: #35736E;
}

/*# sourceMappingURL=main.css.map */
