.help {
    padding: 70px 0;
    position: relative;

    @media (max-width: $breakpoint992) {
        padding: 50px 0;
    }
    @media (max-width: $breakpoint768) {
        padding: 30px 0;
    }
}

.help__svg {
    position: absolute;
    left: 7%;
    top: 0;

    @media (max-width: $breakpoint992) {
        top: unset;
        bottom: 0;
    }
}

.help__row {
    display: flex;
    justify-content: space-between;
    gap: 55px;

    @media (max-width: $breakpoint992) {
        flex-wrap: wrap-reverse;
    }

    @media (max-width: $breakpoint768) {
       gap: 30px;
    }
}

.help__item {
   

    &.help__left {
        position: relative;
        display: flex;
        align-items: flex-start;
        gap: 30px;
        flex: 0 1 630px;

        @media (max-width: $breakpoint992) {
            flex: 0 1 100%;
            display: flex;
            flex-wrap: wrap;
        }
    }
    
    &.help__right {
        padding-top: 33px;
        flex: 0 1 470px;

        @media (max-width: $breakpoint992) {
            flex: 0 1 100%;
        }
    }

   
}

.help__list {
    margin-top: 30px;

    display: flex;
    flex-wrap: wrap;
    gap: 24px;


    @media (max-width: $breakpoint768) {
        margin-top: 10px;
        gap: 15px;
    }

    li {
        flex: 0 1 215px;
        padding-left: 21px;

        line-height: 1.36;
        color: #6A6A6A;

        position: relative;
    
    
        &::before {
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background-color: transparent;
            border: 2px solid #3B5D50;
    
            position: absolute;
            left: 0;
            top: 7px;
        }

        @media (max-width: $breakpoint768) {
            flex: 0 1 100%;
        }
    }
}


.help__img-1 {
    border-radius: 10px 0 0 10px;
    @media (max-width: $breakpoint768) {
        max-width: 100%;
        width: 90%;
        height: auto;
    }
}

.help__img-3 {
    border-radius: 10px;
    z-index: 1;
    @media (max-width: $breakpoint768) {
        display: none;
    }
}

.help__img-2 {
    position: absolute;
    right: 0;
    top: 43%;
    border-radius: 10px;
    z-index: 3;
    @media (max-width: $breakpoint768) {
        max-width: 40%;
        top: 5%;
        width: 100%;
        height: auto;
    }
}

